HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/java/com/nadunkawishika/helloshoesapplicationserver/application/Main.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/.env
/src/main/resources/application.properties

/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/maven-archiver/
/target/shoe-server-app.jar.original
